.label {
    -fx-font-family: RotondaC-Bold;
}

#playBtn:hover, #levelBtn:hover, #quitBtn:hover, #quitBtn2:hover, #newGameBtn:hover, #resumeBtn:hover, #musicBtn:hover, #soundBtn:hover, #quitBtn3:hover, #pauseBtn:hover, #newGameBtn2:hover {
    -fx-effect: innershadow(gaussian, white, 15, 0, 0, 0);
    -fx-fill: rgba(255,255,255,0.5);
    -fx-font-size: 36px;
    -fx-cursor: hand;
}

#playBtn:pressed, #levelBtn:pressed, #quitBtn:pressed, #quitBtn2:pressed, #newGameBtn:pressed, #resumeBtn:pressed, #musicBtn:pressed, #soundBtn:pressed, #quitBtn3:pressed, #pauseBtn:pressed, #newGameBtn2:pressed {
    -fx-effect: innershadow(gaussian, black, 15, 0, 0, 0);
    -fx-font-size: 36px;
    -fx-cursor: hand;
}

#startMenu, #gameOverMenu, #pauseMenu {
    -fx-background-color: rgba(27, 27, 27, 0.8);
}